*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  font: 1em/1.5 "Nunito", sans-serif;
  width: 100%;
  height: 100%;
  background-color: #000;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

body {
  background-color: #000;
  width: 100%;
  min-height: 100%;
  margin: 0;
  position: relative; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main,
details,
menu {
  display: block; }

figure {
  margin: 1em 40px; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

h1 {
  font-size: 3rem;
  margin: 0.67em 0; }

h2 {
  font-size: 2.5rem; }

h3,
.h-h3 {
  font-size: 2rem; }

h1,
h2,
h3,
h4 {
  color: #000;
  font-family: "Montserrat", sans-serif; }

.h-h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25rem; }
  .h-h4:before, .h-h4:after {
    content: "\2014\2014";
    color: #a6357f;
    letter-spacing: -3px;
    letter-spacing: -.3rem;
    padding: 0 .8rem 0 .4rem; }

.h-section {
  text-align: center;
  text-transform: uppercase; }

.h-page {
  color: inherit;
  text-align: center;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  text-transform: uppercase; }

.h-bar:before {
  content: '';
  display: block;
  width: 3rem;
  height: .75rem; }

.h-bar--red:before {
  background: #f05e74; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

q {
  font-style: italic; }

p {
  font-size: 1.25rem; }

a {
  background-color: transparent;
  border-bottom: 2px solid #23b1a6;
  color: #000;
  font-weight: 700;
  -webkit-text-decoration-skip: objects;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-decoration: none; }

a:active,
a:hover {
  outline-width: 0; }

a:hover,
a:focus {
  border: 0;
  text-decoration: none; }

th,
td {
  padding: 5px 10px; }

th {
  color: #fff; }

audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dd,
p,
figure,
pre,
table,
fieldset,
hr {
  margin: 0 0 1.5rem; }

.menu {
  margin: 0;
  padding: 0; }

.btn {
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  padding: 1.5rem 3rem; }

.btn--principal {
  background-color: #21a295; }
  .btn--principal:hover {
    background-color: #1e8478; }

.btn--secundary {
  background-color: #a5a5a5; }
  .btn--secundary:hover {
    background-color: #d0cece; }

.btn--small {
  padding: .6rem; }

.btn--invert {
  background-color: #fff;
  color: #a5a5a5; }
  .btn--invert:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid #fff;
    color: #fff; }

.logo {
  border-bottom: 0;
  float: left; }
  .logo img {
    display: block;
    width: 250px; }

.intro-h {
  margin-bottom: 0; }

.intro-leading {
  font-size: 1.5rem; }

.helper-nav {
  padding: .25em 1rem;
  margin-bottom: 1.5rem;
  background: rgba(255, 255, 255, 0.5); }
  .helper-nav:before, .helper-nav:after {
    content: " ";
    display: table; }
  .helper-nav:after, .helper-nav:after {
    clear: both; }

.helper-nav__action {
  border-bottom: 0;
  color: #000;
  display: block;
  font-weight: normal;
  padding: 2px 4px;
  text-decoration: none; }

.helper-nav__item {
  display: inline;
  float: left; }

.helper-nav__items {
  float: right;
  list-style: none; }

.logo-item {
  display: inline-block;
  vertical-align: top;
  margin: -3px;
  padding: 1.5rem; }

.main-menu {
  float: right; }

.main-menu__action {
  color: inherit;
  border-bottom: 0;
  display: block;
  padding: 4px 16px;
  text-decoration: none; }

.main-menu__item {
  display: inline;
  float: left; }

.main-menu__items {
  font-family: "Montserrat", sans-serif;
  list-style: none;
  text-transform: uppercase; }

.main-menu__items--inverted {
  color: #fff; }

.leads-grid {
  margin: 0 auto;
  max-width: 1400px; }

.leads-grid__wrap {
  overflow: hidden; }

.leads-grid__item {
  float: left;
  width: 33%;
  text-align: center;
  padding: 1rem; }

.leads-grid__title {
  margin-bottom: 0; }

.leads-grid__photo {
  margin-bottom: 1.5rem; }

.leads-grid__subt {
  color: #797878;
  text-transform: uppercase; }

.leads-grid__subt,
.leads-grid__desc {
  margin-bottom: .5rem; }

.team-grid {
  margin: 0 auto;
  max-width: 1400px; }

.team-grid__wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

.team-grid__item {
  border: 1px solid #fff;
  position: relative;
  background-color: #f5f5f6;
  width: 50%;
  padding: 1.5rem;
  flex-grow: 1; }
  .team-grid__item:before, .team-grid__item:after {
    content: " ";
    display: table; }
  .team-grid__item:after, .team-grid__item:after {
    clear: both; }
  .team-grid__item:last-child {
    flex-grow: 0; }

.team-grid__photo-wrap {
  width: 200px;
  float: left;
  margin-right: 3rem; }

.team-grid__photo {
  height: auto;
  max-width: 100%; }

.team-grid__info {
  background-color: #fff;
  padding: 1rem; }
  .team-grid__info a {
    font-weight: 300; }

.team-grid__details {
  font-size: .75rem;
  margin-bottom: 0; }

.team-grid__title {
  margin-bottom: 0;
  text-transform: uppercase; }

.team-grid__desc p {
  font-size: 1rem; }

.team-grid__subt {
  color: #777;
  margin-bottom: .75rem; }

.service-outer {
  padding-top: 30%;
  position: relative;
  width: 100%; }

.row {
  bottom: 0;
  left: 0;
  list-style-image: none;
  list-style: none;
  margin: 0 0 30px;
  padding-left: 0;
  right: 0;
  top: 0;
  position: absolute; }

.service-grid {
  list-style: none;
  margin: 0;
  padding: 0; }

.service-grid__action {
  border-bottom: 0;
  color: #fff;
  display: block;
  height: 100%;
  padding: 3rem 6rem;
  text-decoration: none;
  font-weight: 300; }

.service-grid__heading {
  color: inherit;
  font-size: 1.75rem;
  margin-top: 3rem;
  text-align: center; }

.service-grid__item {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
  float: left;
  position: relative;
  height: 100%; }

.service-grid__content {
  font-size: 1rem; }

.service-grid--workshop {
  background-image: url(../img/workshops-grid.jpg); }

.service-grid--coaching {
  background-image: url(../img/coaching-grid.jpg); }

.service-grid--consulting {
  background-image: url(../img/consulting-grid.jpg); }

.service-grid--retreats {
  background-image: url(../img/retreats-grid.jpg); }

.icon-item:before {
  background-size: cover;
  content: '';
  width: 60px;
  height: 60px;
  display: block;
  background-repeat: no-repeat;
  margin: 0 auto; }

.icon-item--workshop:before {
  background-image: url(../img/icon-workshop.png); }

.icon-item--coaching:before {
  background-image: url(../img/icon-coaching.png); }

.icon-item--consulting:before {
  background-image: url(../img/icon-consulting.png); }

.icon-item--retreat:before {
  background-image: url(../img/icon-retreats.png); }

.events-grid {
  border: 0.5rem solid #f3f2f2;
  display: inline;
  float: left;
  padding: 1.5rem;
  min-height: 300px;
  text-align: center; }
  .events-grid h4,
  .events-grid h5 {
    color: #fff;
    font-size: 1.5rem;
    font-family: "Nunito", sans-serif, sans-serif;
    margin: 0; }
  .events-grid h5 {
    font-weight: initial;
    margin: 10px; }
  .events-grid p {
    color: #fff;
    font-size: 1rem;
    font-weight: initial; }

.event-item_certified {
  background: #5f9fc0;
  width: 33.33%; }

.event-item_workshop {
  background: #21a295;
  width: 33.33%; }
  .event-item_workshop ::before {
    background-image: url("../img/icon-workshop.png"); }

.event-item_consulting {
  background: #bf639f;
  width: 33.33%; }
  .event-item_consulting ::before {
    background-image: url("../img/icon-consulting.png"); }

.testimonio {
  float: left;
  display: inline-block;
  padding: 1.5rem;
  vertical-align: top;
  border: .0625rem solid #E2EBF1;
  min-height: 290px;
  background: #fff;
  width: 50%; }
  .testimonio blockquote {
    margin: 1.5rem; }

.testimonio__avatar {
  float: left;
  margin-right: 20px;
  max-width: 90px; }

.testimonio__description {
  font-size: 1.125rem;
  font-style: italic; }

.testimonio__cite {
  font-weight: bold;
  margin-bottom: 0; }

.testimonio--resize {
  width: 100%; }

.hello-friend {
  background: url(../img/bg-footer.jpg) repeat-x;
  padding: 3rem 0; }

.hello-friend__wrap {
  max-width: 1200px;
  margin: 0 auto; }

.hello-friend__img {
  float: left;
  max-width: 150px; }
  .hello-friend__img img {
    max-width: 100%; }

.hello-friend_desc {
  color: #fff;
  float: right; }

.hello-friend__title {
  color: #fff;
  margin-bottom: 0; }

.service-content {
  float: left;
  width: 45%; }

.service-info {
  margin-bottom: 6rem;
  overflow: hidden; }

.sevice-events {
  overflow: hidden; }

.service-info video,
.service-info img {
  float: right;
  width: 50%; }

.sevice-events img {
  float: left;
  margin-right: 3rem;
  width: 25%; }

.sevice-events-content {
  float: left;
  width: 50%; }

.sevice-events-content strong {
  display: block; }

.btn-request-content {
  margin-top: 4em;
  text-align: center; }

.title-event {
  font-weight: bold;
  font-size: 1.5rem; }

.sticky-menu {
  background-color: transparent; }

.sticky-menu__wrap {
  background-color: #F3F2F2;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  margin: auto;
  width: 614px; }

.sticky-menu__item {
  margin: 0; }

.sticky-menu-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  right: 0; }

.sticky-menu-item {
  border: none;
  display: inline-block;
  padding: 1rem;
  text-align: center;
  width: 150px; }

.sticky-icon {
  background-size: contain;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  margin: 0 auto; }

.icon-workshop-black {
  background-image: url("../img/icon-workshop-black.png"); }

.icon-consultancies-black {
  background-image: url("../img/icon-consultancies-black.png"); }

.icon-coaching-black {
  background-image: url("../img/icon-coaching-black.png"); }

.icon-retreats-black {
  background-image: url("../img/icon-retreats-black.png"); }

.sticky-menu-item:hover h4 {
  color: #fff; }

.sticky-menu-workshop:hover {
  background-color: #21a295; }
  .sticky-menu-workshop:hover .icon-workshop-black {
    background-image: url("../img/icon-workshop.png"); }

.sticky-menu-consultancies:hover {
  background-color: #a4377f; }
  .sticky-menu-consultancies:hover .icon-consultancies-black {
    background-image: url("../img/icon-consulting.png"); }

.sticky-menu-coaching:hover {
  background-color: #f5978d; }
  .sticky-menu-coaching:hover .icon-coaching-black {
    background-image: url("../img/icon-coaching.png"); }

.sticky-menu-retreats:hover {
  background-color: #5f9fc0; }
  .sticky-menu-retreats:hover .icon-retreats-black {
    background-image: url("../img/icon-retreats.png"); }

.lastest-post-wrap {
  width: 90%;
  margin: 0 auto; }
  .lastest-post-wrap img {
    width: 77%;
    padding: 10px; }
  .lastest-post-wrap h3,
  .lastest-post-wrap h4 {
    margin: 0; }
  .lastest-post-wrap span {
    color: #bf639f; }

.lastest-post {
  width: 48%;
  float: left;
  margin: 5px;
  padding: 15px;
  background-color: #f3f2f2; }
  .lastest-post a {
    border: none; }

.certification__subtitle {
  font-size: 2.3rem;
  text-transform: uppercase;
  padding-bottom: 2.5rem; }

.certification-wrap {
  width: 50%;
  margin: 0 auto;
  text-align: center; }
  .certification-wrap a {
    text-align: center; }
  .certification-wrap h2 {
    margin: 0; }

.certification-descrip {
  margin: 50px 0; }
  .certification-descrip p {
    text-align: left; }

.certification-important {
  font-weight: 700;
  font-size: 1.25rem; }

.certification-details p {
  margin: 0; }

.certification-info {
  text-align: center; }
  .certification-info p {
    margin: 0;
    text-align: center;
    font-weight: 700; }

.certification-required {
  list-style: none;
  text-align: left;
  padding: 0; }

.certification-subscription {
  margin-top: 50px; }

.certification-v2__subtitle {
  font-size: 1.8rem;
  text-transform: uppercase; }

.certification-wrap-v2 {
  width: 35%;
  padding: 2rem;
  float: left;
  border-right: 1px solid #313233; }

.certification-wrap-v2:last-child {
  border: none;
  width: 30%; }

.site-header {
  margin-bottom: 1.5rem;
  position: relative;
  z-index: 5; }

.site-nav {
  padding: .25em 1rem; }

.l-content {
  margin: 0 auto;
  width: 65%; }

.l-group:before, .l-group:after {
  content: " ";
  display: table; }
.l-group:after, .l-group:after {
  clear: both; }

.bg-hero {
  background-image: url("../img/hero-home.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: transparent;
  color: #fff;
  height: 40rem;
  overflow: hidden;
  position: relative;
  z-index: 2; }

.bg-pattern-turquoise {
  background: url(../img/patron-4.jpg) fixed;
  color: #fff; }

.bg-pattern-gray {
  background: url(../img/default2.jpg) fixed;
  background-color: #F3F2F2;
  color: #fff; }

.bg-gray {
  background-color: #F3F2F2; }

.bg-red {
  background-color: #F25F60; }

.bg-blue {
  background-color: #5F9FBF; }

.bg-isotipo {
  background-image: url(../img/conversable-isotipo.png);
  background-repeat: no-repeat;
  background-position: 103% -39%;
  background-size: 30%;
  background-attachment: fixed; }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background-size: cover; }
  .bg-video:after {
    content: '';
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .bg-video video {
    height: auto;
    width: 100%; }

.section-wrap {
  padding: 9rem 3rem; }

.section-wrap--intro {
  position: relative;
  z-index: 2; }

.section-intro {
  margin-bottom: 3rem;
  text-align: center; }

.section-wrap--tight {
  padding-bottom: 3rem;
  padding-top: 3rem; }

.wrapper {
  background-color: #fff; }

.site-footer {
  background-color: #000; }
  .site-footer:before, .site-footer:after {
    content: " ";
    display: table; }
  .site-footer:after, .site-footer:after {
    clear: both; }

.contact-footer {
  padding: 1.5rem; }

/*# sourceMappingURL=style.css.map */
