.btn-fill {
	background-color: $conversable-turquoise;
	padding: 1.5em 2.5em;
	color: #fff;
	border: none;	
} 

.btn-fill:hover {
	background-color: $conversable-turquoise-accent;	
} 

.btn-invert {
	border: 2px solid $conversable-turquoise;
	color: #23b1a6;
	padding: 1em 2.5em;
} 

.btn-invert:hover {
	background-color: $conversable-turquoise-accent;
	padding: 1em 2.5em;
	color: #fff;	
} 

