form {
  width: 384px;
}

input,
textarea,
select, {
  font: 1em/1.5 $font-family-base;
  margin-bottom: 1.5rem;
  border: solid 1px #000;
}

label {
  border: none;
  display: block;
  font-weight: bold
}

[type~=checkbox] {
  display: inline;
  margin-bottom: .75rem;
}

textarea {
  resize: none;
}