// Normalize
// ==========================================================================
// Correct the font size and margin on `h1` elements within `section` and
// `article` contexts in Chrome, Firefox, and Safari.
h1 {
  margin: 0.67em 0;
}

h1, 
h2, 
h3 {
    color: #000;
}