.l-content {
  margin: 0 auto;
  width: 65%;
}

.l-group {
  @include micro-clearfix;
}

.group {
  @include micro-clearfix;
  margin: 0 auto;
  max-width: 1200px;
}

.bg-hero {
  background-image: url('../img/hero-home.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: transparent;
  color: #fff;
  height: 40rem;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.bg-pattern-turquoise {
  background: url(../img/patron-4.jpg) fixed;
  color: #fff;
}

.bg-pattern-gray {
  background: url(../img/default2.jpg) fixed;
  background-color: #F3F2F2;
  color: #fff;
}

.bg-gray {
  background-color: #F3F2F2;
}

.bg-red {
  background-color: #F25F60;
}

.bg-blue {
  background-color: #5F9FBF;
}

.bg-isotipo {
  background-image: url(../img/conversable-isotipo.png);
  background-repeat: no-repeat;
  background-position: 103% -39%;
  background-size: 30%;
  background-attachment: fixed;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background-size: cover;

  &:after {
    content: '';
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  video {
    height: auto;
    width: 100%;
  }
}

.section-wrap {
  padding: $space-large $space-medium;
}

.section-wrap--intro {
  position: relative;
  z-index: 2;
}

.section-intro {
  margin-bottom: 3rem;
  text-align: center;
}

.section-wrap--tight {
  padding-bottom: $space-medium;
  padding-top: $space-medium;
}

.wrapper {
  background-color: #fff;
}