.btn {
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    padding: 1.5rem 3rem;
}

.btn--principal {
    background-color: $turquoise;

    &:hover {
        background-color: $turquoise-accent;
    }
}

.btn--secundary {
    background-color: #a5a5a5;

    &:hover {
        background-color: #d0cece;
    }
}

.btn--small {
    padding: .6rem;
}

.btn--invert {
    background-color: #fff;
    border: 2px solid #fff;
    color: #a5a5a5;

    &:hover {
        background-color: rgba(255, 255, 255, .3);
        border: 2px solid #fff;
        color: #fff;
    }
}