$font-family-base: 'Nunito', sans-serif;
$font-family-contrast: 'Montserrat', sans-serif;

$font-family-base-normal-weight: 300;
$font-family-base-bold-weight: 700;

<<<<<<< HEAD
$conversable-salmon: #f5978d;
$conversable-turquoise: #21a295;
$conversable-turquoise-accent: #29a6ba;
$conversable-violet: #a4377f;
$conversable-blue: #5f9fc0;
$conversable-violet-light: #bf639f;

 
// Inside components
$space-small: 1.5rem;
$space-medium: 3rem;
$space-large: 6rem;
$space-x-large: 7.5rem;

// Between components

//$space-out-small: yy;
//$space-out-medium: yy;
//$space-out-large: yy;

=======
$salmon: #f5978d;
$turquoise: #21a295;
$turquoise-accent: #1e8478;
$violet: #a4377f;
$blue: #5f9fc0;
$violet-light: #bf639f;
$gray: #f3f2f2;
>>>>>>> 757404a2792934a204dea4ec15daacd303992fa1
