$font-family-base: 'Nunito', sans-serif;
$font-family-contrast: 'Montserrat', sans-serif;

$font-family-base-normal-weight: 300;
$font-family-base-bold-weight: 700;

$salmon: #f5978d;
$turquoise: #21a295;
$turquoise-accent: #1e8478;
$violet: #a4377f;
$blue: #5f9fc0;
$violet-light: #bf639f;
$gray: #f3f2f2;
$dark-gray: #313233;


// Inside components
$space-base: 1.125rem;
$space-small: 1.125rem;
$space-medium: 2.25rem;
$space-large: 3.375rem;
$space-x-large: 4.5rem;
$space-xx-large: 5.625rem;
$space-xxx-large: 6.75rem;

// Between components
$space-out-small: 1.125rem;
$space-out-medium: 2.25rem;
$space-out-large: 3.375rem;
$space-x-out-large: 4.5rem;
$space-xx-out-large: 5.625rem;
$space-xxx-out-large: 6.75rem;
