$font-family-base: 'Nunito', sans-serif;
$font-family-contrast: 'Montserrat', sans-serif;

$font-family-base-normal-weight: 300;
$font-family-base-bold-weight: 700;

$conversable-salmon: #f5978d;
$conversable-turquoise: #21a295;
$conversable-turquoise-accent: #29a6ba;
$conversable-violet: #a4377f;
$conversable-blue: #5f9fc0;
$conversable-violet-light: #bf639f;

$background-gray: #F3F2F2;
