$font-family-base: 'Nunito', sans-serif;
$font-family-contrast: 'Montserrat', sans-serif;

$font-family-base-normal-weight: 300;
$font-family-base-bold-weight: 700;

$salmon: #f5978d;
$turquoise: #21a295;
$turquoise-accent: #1e8478;
$violet: #a4377f;
$blue: #5f9fc0;
$violet-light: #bf639f;
$gray: #f3f2f2;
$dark-gray: #313233;


// Inside components
$space-base: 1.5rem;
$space-small: 1.5rem;
$space-medium: 3rem;
$space-large: 6rem;
$space-x-large: 7.5rem;

// Between components

$space-out-small: 1.5rem;
$space-out-medium: 3rem;
$space-out-large: 4.5rem;
