.main-btn {
	display: block;
    width: 10rem;
    height: 3rem;
    background-color: #20a296;
    color: #fff;
    padding-top: 12px;
    font-weight: $font-family-base-normal-weight;
    margin: 0 auto;
    //margin-top: 43px;
    border-bottom: none;
}