.certification-h {
	padding-bottom: 40px;
}

.certification-wrap {
	width: 50%;
	margin: 0 auto;
	text-align: center;

	a {
		text-align: center;
	}

	h2 {
		margin: 0;
	}
}

.certification-descrip {
	margin: 50px 0;

	p {
		text-align: left;
	}

	p:nth-child(1) {
		margin-bottom: 0;
	}
}

.certification__p--bold {
	font-weight: $font-family-base-bold-weight;
	margin: 0;
}

.certification-info {
	text-align: center;
	p {
		margin: 0;
		text-align: center;
		font-weight: $font-family-base-bold-weight;
	}
}

.certification-required {
	margin: 20px 0;
	text-align: left;
}