.certification__subtitle {
    font-size: 2.3rem;
    text-transform: uppercase;
    padding-bottom: 2.5rem;
}

.certification-wrap {
    width: 50%;
    margin: 0 auto;
    text-align: center;

    a {
        text-align: center;
    }

    h2 {
        margin: 0;
    }
}

.certification-descrip {
    margin: 50px 0;

    p {
        text-align: left;
    }
}

.certification-important {
    font-weight: $font-family-base-bold-weight;
    font-size: 1.25rem;
}

.certification-details {
    p {
    margin: 0;
    }
}

.certification-info {
    text-align: center;

    p {
      margin: 0;
      text-align: center;
      font-weight: $font-family-base-bold-weight;
    }
}

.certification-required {
    list-style: none;
    text-align: left;
    padding: 0;
}

.certification-subscription {
    margin-top: 50px;
}

<<<<<<< HEAD
.certification-v2__subtitle {
    font-size: 1.8rem;
    text-transform: uppercase;
}

.certification-wrap-v2 {
    width: 35%;
    padding: 2rem;
    float: left;
    border-right: 1px solid $dark-gray;
}

.certification-wrap-v2:last-child {
    border: none;
    width: 30%;
=======
.certification-wrap-v2 {
    width: 33.33%;
    padding: 0.625rem;
    float: left;
>>>>>>> 685fe1f3fa8991517d06250d4bb7efeb5a92f878
}
