.event-info {
    font-size: 1.25rem;
    margin-bottom: 6rem;
    overflow: hidden;
}

.event--space {
    margin: 0;
}

.event-content {
    float: left;
    width: 48%;

    h3 {
        margin-bottom: 6rem;
    }
}

.event-sidebar {
    float: right;
    text-align: center;
    width: 35%;
}

.img--workshops {
    border-left: 8px solid $turquoise;
    width: 100%;
}

.img-paypal {
    margin-top: 1rem; 
    width: 85%;
}

.img-paypal--width {
    width: 28%;
}

.accounts {
    margin: 6rem 0;
    text-align: initial;

    img {
        width: 70%;
    }
}

.buy-content {
    float: right;
    width: 17%;
}