.events-grid {
  border: .5rem solid #F3F2F2;
  display: inline-block;
  float: left;
  padding: 1.5rem;
  margin: .6rem;
  min-height: 300px;
  text-align: center;

  h4,
  h5 {
    color: #fff;
    font-size: 1.5rem;
    font-family: $font-family-base, sans-serif;
    margin: 0;
  }

  h5 {
    font-weight: initial;
    margin: 10px;
  }

  a {
    color: #fff;
    font-weight: initial;
  }

  p {
    font-size: 1rem;
    margin-bottom: 20px ;
  }
}

.event-item_certified {
  background: #5f9fc0;
  width: 46%;

  .btn-events {
    color: #000;
  }
}

.event-item_workshop {
  background: #21a295;
  width: 23%;

  ::before {
    background-image: url("../img/icon-workshop.png")
  }

  .btn-events {
    color: #000;
  }
}

.event-item_consulting {
  background: $conversable-violet-light;
  width: 23%;

  ::before {
    background-image: url("../img/icon-consulting.png")
  }

  .btn-events {
    color: #000;
  }
}

.btn-events {
  background-color: #fff;
  border: none;
  padding: .6rem;
}

.btn-events:hover {
  background-color: transparent;
  border: .1rem solid #fff;
  color: #fff;
}