.events-wrapper {
  padding: 0;
}

.events-grid {
  border: .5rem solid $gray;
  display: inline;
  float: left;
  padding: $space-base;
  min-height: 300px;
  text-align: center;

  h4,
  h5 {
    color: #fff;
    font-size: 1.5rem;
    font-family: $font-family-base, sans-serif;
    margin: 0;
  }

  h5 {
    font-weight: initial;
    margin: 10px;
  }

  p {
    color: #fff;
    font-size: 1rem;
    font-weight: initial;
  }
}

.event-item_certified {
  background: #5f9fc0;
  width: 33.33%;
}

.event-item_workshop {
  background: #21a295;
  width: 33.33%;

  ::before {
    background-image: url("../img/icon-workshop.png")
  }
}

.event-item_consulting {
  background: $violet-light;
  width: 33.33%;

  ::before {
    background-image: url("../img/icon-consulting.png")
  }
}