.event-info {
    font-size: 1.25rem;
    margin-bottom: 6rem;
    overflow: hidden;

    h3 {
        margin-bottom: 6rem;
    }
}

.event--space {
    margin: 0;
}

.event-content {
    float: left;
    width: 45%;
}

.event-sidebar {
    float: right;
}