.helper-nav {
  @include micro-clearfix;
  padding: .25em 1rem;
  margin-bottom: 1.5rem;
  background: rgba(255, 255, 255, .5);
}

.helper-nav__action {
  border-bottom: 0;
  color: #000;
  display: block;
  font-weight: normal;
  padding: 2px 4px;
  text-decoration: none;
}

.helper-nav__item {
  display: inline;
  float: left;
}

.helper-nav__items {
  float: right;
  list-style: none;
}