.lastest-post-wrap {
  width: 90%;
  margin: 0 auto;

  img {
    width: 77%;
    padding: 10px;
  }

  h3,
  h4 {
    margin: 0;
  }
  span {
    color: $conversable-violet-light;
  }

}

.lastest-post {
	width: 48%; 
	float: left;
	margin: 5px;
	padding: 15px;
  background-color: $main-gray;

  a {
    border: none;
  }
}

