.leads-grid {
  margin: 0 auto;
  max-width: 1400px;
}

.leads-grid__wrap {
  overflow: hidden;
}

.leads-grid__item {
  float: left;
  width: 25%;
  text-align: center;
  padding: 1rem;
}

.leads-grid__title {
  margin-bottom: 0;
}

.leads-grid__photo {
  margin-bottom: 1.5rem;
}

.leads-grid__subt {
  color: #797878;
}

.leads-grid__subt,
.leads-grid__desc {
  margin-bottom: .5rem;
}