.leads-grid__wrap {
  overflow: hidden;
}

.leads-grid__item {
  float: left;
  width: 33%;
  text-align: center;
  padding: $space-base;
}

.leads-grid__title {
  margin-bottom: 0;
}

.leads-grid__photo {
  margin-bottom: 1.5rem;
}

.leads-grid__subt {
  color: #797878;
  text-transform: uppercase;
}

.leads-grid__subt,
.leads-grid__desc {
  margin-bottom: .5rem;
}