.main-menu {
  float: right;
}

.main-menu__action {
  color: inherit;
  border-bottom: 0;
  display: block;
  padding: 4px 16px;
  text-decoration: none;
}

.main-menu__item {
  display: inline;
  float: left;
}

.main-menu__items {
  font-family: $font-family-contrast;
  list-style: none;
  text-transform: uppercase;
}

.main-menu__items--inverted {
  color: #fff;
}