.service-content {
	display: inline-block;
	width: 49%;
}

.sevice-events {
	margin-top: 1.5em;
}

.service-info video, 
.service-info img {
	width: 50%;
}

.sevice-events img,
.sevice-events-btn {
	display: inline-block;
	width: 25%;
}

.sevice-events-content {
	display: inline-block;
	width: 48%;
}

.sevice-events-content strong {
	display: block;
}

.btn-request-content {
	margin-top: 4em;
	text-align: center;
}

.title-event {
	font-weight: bold;
	font-size: 1.5rem;
}
