.team-grid {
  margin: 0 auto;
  max-width: 1400px;
}

.team-grid__wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around
}

.team-grid__item {
  @include micro-clearfix;
  border: 1px solid #fff;
  position: relative;
  background-color: #f5f5f6;
  width: 50%;
  padding: 1.5rem;
  flex-grow: 1;

  &:last-child {
    flex-grow: 0;
  }
}

.team-grid__photo-wrap {
  width: 300px;
  float: left;
  margin-right: 1.5rem;
}

.team-grid__photo {
  height: auto;
  max-width: 100%;
}

.team-grid__info {
  background-color: #fff;
  padding: 1rem;

  a {
    font-weight: $font-family-base-normal-weight;
  }
}

.team-grid__details {
  font-size: 1rem;
  margin-bottom: 0;
}

.team-grid__title {
  margin-bottom: 0;
  text-transform: uppercase;
}

.team-grid__desc {
  p {
    font-size: 1rem;
  }
}

.team-grid__subt {
  color: #777;
  margin-bottom: .75rem;
}