.team-grid {
  margin: 0 auto;
  max-width: 1400px;
}

.team-grid__item {
  @include micro-clearfix;
  margin-bottom: 6rem;
  position: relative;
}

.team-grid__photo {
  width: 60%;
  float: left;
  position: relative;
  z-index: 1;
  display: block;
}

.team-grid__info {
  width: 34%;
  padding: 2rem;
  background: #fff;
  right: 12rem;
  position: absolute;
  z-index: 2;
  top: -1.5rem;
  border: 0.0625rem solid #E2EBF1;
}

.team-grid__title {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.team-grid__desc {
  float: left;
  width: 75%;
  overflow: hidden;
  background: #fff;
  padding: 3rem;
  margin-top: -65px;
  position: relative;
  z-index: 3;
  margin-left: 80px;
}

.team-grid__subt {
  color: #797878;
  text-transform: uppercase;
}