.testimonio-v2 {
  margin: 0 auto;
  padding: $space-large;
  vertical-align: top;
  border-bottom: .0625rem solid $gray-accent;
  min-height: 290px;
  width: 70%;

  blockquote {
    margin: auto;
    padding: 2rem 0 3.5rem 0;
  }
}

.testimonio-v2:last-child{
  border: none;
}

.testimonio-v2__description {
  margin: auto;
  font-size: 1.3rem;
  position: relative;
  z-index: 1;
}

.testimonio-v2__img-quote {
  z-index: -1;
  position: absolute;
  left: -135px;
  top: -52px;
}

.testimonio-v2__avatar {
  margin-top: 1.5rem;
  max-width: 90px;
}

.testimonio-v2__cite {
  margin-bottom: 2rem;
  font-weight: bold;
}

.testimonio-v2__person {
  text-align: center;
}
