.testimonio {
  float: left;
  display: inline-block;
  padding: 1.5rem;
  vertical-align: top;
  border: .0625rem solid #E2EBF1;
  min-height: 290px;
  background: #fff;
  width: 50%;

  blockquote {
    margin: 1.5rem;
  }
}

.testimonio__avatar {
  float: left;
  margin-right: 5px;
  max-width: 120px;
}

.testimonio__description {
  font-size: 1.125rem;
  font-style: italic;
}

.testimonio__cite {
  font-weight: bold;
  margin-bottom: 0;
}